DATABASE_URL= 'xyz'
PORT=3000
REDIS_URL="redis://localhost:6379"


WORKER_NAME
WORKER_CONCURRENCY=5  # for now

DEFAULT_LANE_RPS=20
CRITICAL_LANE_RPS=50
DEFAULT_MAX_BACKLOG=2000
CRITICAL_MAX_BACKLOG=5000
DLQ_REMOVE_ON_COMPLETE_COUNT=1000

