DATABASE_URL="postgresql://user:password@ep-your-endpoint.neon.tech/dbname?sslmode=verify-full&channel_binding=require"
DATABASE_URL_POOLED="postgresql://user:password@ep-your-endpoint-pooler.neon.tech/dbname?sslmode=verify-full&channel_binding=require"
REDIS_URL="redis://localhost:6379"

RESEND_API_KEY="re_xxx"
RESEND_API_SECRET=""
RESEND_FROM_EMAIL="onboarding@resend.dev"
RESEND_WEBHOOK_SECRET="whsec_xxx"
SENDER_KA_EMAIL="sender@yourdomain.com"

SMTP_HOST="sandbox.smtp.mailtrap.io"
SMTP_PORT="2525"
SMTP_USER="smtp_user"
SMTP_PASS="smtp_pass"
